﻿@model PayrollSys.Models.Bonus

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layoutmanagesalary.cshtml";
}

<h1 class="display-4">Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<br />
<div>
    <h4>Bonus</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Criteria
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.criteria)
        </dd>
        <dt class = "col-sm-2">
            Rate (%)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.rate)
        </dd>
        <dt class = "col-sm-2">
            Note
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.note)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="BonusId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
