﻿@model PayrollSys.Models.Bonus

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layoutmanagesalary.cshtml";
}

<h1 class="display-4">Details</h1>
<br />

<div>
    <h4 >Bonus</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Criteria
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.criteria)
        </dd>
        <dt class = "col-sm-2">
            Rate (%)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.rate)
        </dd>
        <dt class = "col-sm-2">
            Note
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.note)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.BonusId" class="btn btn-primary">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
