﻿@model PayrollSys.Models.Allowance

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layoutmanagesalary.cshtml";
}

<h1 class="display-4">Edit</h1>
<br />
<h4>Allowance</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AllowanceId" />
            <div class="form-group">
                <label asp-for="criteria" class="control-label">Criteria</label>
                <input asp-for="criteria" class="form-control" style="text-transform:capitalize" />
                <span asp-validation-for="criteria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="rate" class="control-label">Amount (RM)</label>
                <input asp-for="rate" class="form-control" />
                <span asp-validation-for="rate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="note" class="control-label">Note</label>
                <input asp-for="note" class="form-control" style="text-transform:capitalize" />
                <span asp-validation-for="note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
