﻿@model IEnumerable<PayrollSys.Models.Allowance>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layoutmanagesalary.cshtml";
}

<br />
<h1 style="text-align:center" class="display-4">Allowance</h1>

<p style="text-align:end">
    <a asp-action="Create" class="btn btn-create" data-toggle="tooltip" title="Create New"><span class="material-icons" style="vertical-align:text-top">add_box</span></a>
</p>
<table class="table table-sm table-bordered">
    <thead>
        <tr style="text-align:center">
            <th>
                Criteria
            </th>
            <th>
                Amount (RM)
            </th>

            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr style="text-align:center">
                <td>
                    @Html.DisplayFor(modelItem => item.criteria)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.rate)
                </td>
                
                <td>
                    <a asp-action="Edit" asp-route-id="@item.AllowanceId" class="btn btn-sm btn-primary" style="width:80px">Edit</a> &nbsp;
                    <a asp-action="Details" asp-route-id="@item.AllowanceId" class="btn btn-sm btn-info" style="width:80px">Details</a> &nbsp;
                    <a asp-action="Delete" asp-route-id="@item.AllowanceId" class="btn btn-sm btn-danger" style="width:80px">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Index" asp-controller="Admin" class="btn btn-primary">
    <svg class="bi bi-arrow-left-circle" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
        <path fill-rule="evenodd" d="M8.354 11.354a.5.5 0 0 0 0-.708L5.707 8l2.647-2.646a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708 0z" />
        <path fill-rule="evenodd" d="M11.5 8a.5.5 0 0 0-.5-.5H6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 .5-.5z" />
    </svg>
    Back
</a>
