﻿@model PayrollSys.Models.Salary

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Salary</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.emp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.emp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.bamount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.bamount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.aamount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.aamount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.damount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.damount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ym)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ym)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.epf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.epf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.socso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.socso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.grossSalary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.grossSalary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.netSalary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.netSalary)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="SalaryId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="List" asp-route-ym=@Model.ym>Back to List</a>
    </form>
</div>
