﻿@model PayrollSys.Models.ViewModel.SalaryView
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="display-5">Employee Salary</h3>
<hr />
<form asp-action="Edit">
    <div class="row">
        <div class="col-md-6">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="emp" class="control-label"></label>
                <input asp-for="emp" class="form-control" />
                <span asp-validation-for="emp" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ym" class="control-label"></label>
                <input asp-for="ym" class="form-control" type="month" />
                <span asp-validation-for="ym" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="grossSalary" class="control-label">Basic Salary</label>
                <input asp-for="grossSalary" class="form-control" />
                <span asp-validation-for="grossSalary" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <table>
                    <tr><td>&nbsp;</td></tr>
                    <tr>
                        <td>
                            Allowance
                        </td>
                    </tr>
                    @for (int i = 0; i < Model.allowancelist.Count; i++)
                    {
                        <tr>
                            <td>
                                @Html.CheckBoxFor(it => Model.allowancelist[i].IsChecked, new { Style = "vertical-align:3px" })
                                @Html.HiddenFor(x => Model.allowancelist[i].AllowanceId)
                                @Html.HiddenFor(v => Model.allowancelist[i].rate)
                                @Html.DisplayFor(it => Model.allowancelist[i].criteria)

                            </td>
                        </tr>

                    }
                </table>
            </div>

            <div class="form-group">
                <table>
                    <tr>
                        <td>
                            Bonus
                        </td>
                    </tr>
                    @for (int i = 0; i < Model.bonuslist.Count; i++)
                    {
                        <tr>
                            <td>
                                @Html.CheckBoxFor(it => Model.bonuslist[i].IsChecked, new { Style = "vertical-align:3px" })
                                @Html.HiddenFor(x => Model.bonuslist[i].BonusId)
                                @Html.HiddenFor(v => Model.bonuslist[i].rate)
                                @Html.DisplayFor(it => Model.bonuslist[i].criteria)

                            </td>
                        </tr>

                    }
                </table>
            </div>

            <div class="form-group">
                <table>
                    <tr>
                        <td>
                            Deduct
                        </td>
                    </tr>
                    @for (int i = 0; i < Model.deductlist.Count; i++)
                    {
                        <tr>
                            <td>
                                @Html.CheckBoxFor(it => Model.deductlist[i].IsChecked, new { Style = "vertical-align:3px" })
                                @Html.HiddenFor(x => Model.deductlist[i].DeductId)
                                @Html.HiddenFor(v => Model.deductlist[i].rate)
                                @Html.DisplayFor(it => Model.deductlist[i].criteria)

                            </td>
                        </tr>

                    }
                </table>
            </div>

        </div>


    </div>
    <br />
    <div class="row">
        <input type="submit" value="Save" class="btn btn-primary btn-block" />

    </div>
</form>
<br />
<div>
    <a asp-action="List" asp-route-ym=@Model.ym>Back to List</a>
</div>

