﻿@model IEnumerable<string>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3 class="display-5">Employee Salary</h3>
<hr />
<form method="post" asp-action="NewMonth" asp-controller="Salary">
    <label for="month" class="control-label">Month: </label>
    <input type="month" name="month" required />
    <input type="submit" class="btn btn-primary" value="Create" />

</form>
<br />
<table class="table table-sm table-bordered">
    <tr>
        <th>No</th>
        <th>Month-Year</th>
        <th>Action</th>
    </tr>
    @{int counter = 1; }

    @foreach (string item in Model)
    {
        <tr>
            <td>@counter</td>
            <td>@item</td>
            <td>
                <a asp-action="List" asp-controller="Salary" asp-route-ym="@item" class="btn btn-sm btn-primary ">
                    <svg class="bi bi-eye" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.134 13.134 0 0 0 1.66 2.043C4.12 11.332 5.88 12.5 8 12.5c2.12 0 3.879-1.168 5.168-2.457A13.134 13.134 0 0 0 14.828 8a13.133 13.133 0 0 0-1.66-2.043C11.879 4.668 10.119 3.5 8 3.5c-2.12 0-3.879 1.168-5.168 2.457A13.133 13.133 0 0 0 1.172 8z" />
                        <path fill-rule="evenodd" d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" />
                    </svg>
                    View
                </a>
            </td>
        </tr>
        counter = counter + 1;
    }
</table>

<a asp-action="Index" asp-controller="Admin" class="btn btn-primary">
    <svg class="bi bi-arrow-left-circle" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
        <path fill-rule="evenodd" d="M8.354 11.354a.5.5 0 0 0 0-.708L5.707 8l2.647-2.646a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708 0z" />
        <path fill-rule="evenodd" d="M11.5 8a.5.5 0 0 0-.5-.5H6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 .5-.5z" />
    </svg>
    Back
</a>

