﻿@model PayrollSys.Models.Salary

@{
    ViewData["Title"] = "Salary";
    Layout = "~/Views/Shared/_Layoutcalculatesalary.cshtml";
}

<h4>Salary</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SalaryId" />
            <div class="form-group">
                <label asp-for="emp" class="control-label"></label>
                <input asp-for="emp" class="form-control" />
                <span asp-validation-for="emp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="bamount" class="control-label"></label>
                <input asp-for="bamount" class="form-control" />
                <span asp-validation-for="bamount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="aamount" class="control-label"></label>
                <input asp-for="aamount" class="form-control" />
                <span asp-validation-for="aamount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="damount" class="control-label"></label>
                <input asp-for="damount" class="form-control" />
                <span asp-validation-for="damount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ym" class="control-label"></label>
                <input asp-for="ym" class="form-control" type="month" />
                <span asp-validation-for="ym" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="epf" class="control-label"></label>
                <input asp-for="epf" class="form-control" />
                <span asp-validation-for="epf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="socso" class="control-label"></label>
                <input asp-for="socso" class="form-control" />
                <span asp-validation-for="socso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="grossSalary" class="control-label"></label>
                <input asp-for="grossSalary" class="form-control" />
                <span asp-validation-for="grossSalary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="netSalary" class="control-label"></label>
                <input asp-for="netSalary" class="form-control" />
                <span asp-validation-for="netSalary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>