﻿@model PayrollSys.Models.Position

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layoutmanagesalary.cshtml";
}
<br />
<h1 class="display-4">Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<hr />
<div>
    
    
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.job)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.job)
        </dd>
        <dt class = "col-sm-2">
            Basic Salary (RM)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.basicSalary)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
