﻿@model PayrollSys.Models.Position

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layoutmanagesalary.cshtml";
}
<br />
<h1 class="display-4">Edit</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="job" class="control-label"></label>
                <input asp-for="job" class="form-control" style="text-transform:capitalize" />
                <span asp-validation-for="job" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="basicSalary" class="control-label">Basic Salary (RM)</label>
                <input asp-for="basicSalary" class="form-control" />
                <span asp-validation-for="basicSalary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
