﻿@model PayrollSys.Models.Socso

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layoutmanagesalary.cshtml";
}

<br />
<h1 class="display-4">Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<br />
<div>
    <h4>Socso</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pay_From)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pay_From)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pay_To)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pay_To)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employer)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="SocsoId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
