﻿@model PayrollSys.Models.Socso

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layoutmanagesalary.cshtml";
}

<h1 class="display-4">Edit</h1>
<br />
<h4>Socso</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SocsoId" />
            <div class="form-group">
                <label asp-for="Pay_From" class="control-label"></label>
                <input asp-for="Pay_From" class="form-control" />
                <span asp-validation-for="Pay_From" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pay_To" class="control-label"></label>
                <input asp-for="Pay_To" class="form-control" />
                <span asp-validation-for="Pay_To" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee" class="control-label"></label>
                <input asp-for="Employee" class="form-control" />
                <span asp-validation-for="Employee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employer" class="control-label"></label>
                <input asp-for="Employer" class="form-control" />
                <span asp-validation-for="Employer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
