﻿
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h2><b class="text-info">EMPLOYEE DASHBOARD</b></h2>
    <hr />
</div>
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <div class="text-center"><h4 class="card-title">Attendance</h4></div>
                <a asp-action="PersonalAttendance" class="btn btn-block btn-outline-dark">View Attendance</a>
            </div>
        </div>
        <br />
        <div class="card">
            <div class="card-body">
                <div class="text-center"><h4 class="card-title">Report</h4></div>
                <a asp-action="Report" class="btn btn-block btn-outline-dark">Monthly Report</a>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card">
            <div class="card-body">
                <div class="text-center"><h4 class="card-title">Payslip</h4></div>
                <a asp-action="PersonalPayslip" class="btn btn-block btn-outline-dark">View Payslip</a>
                <a asp-action="PersonalAdvance" class="btn btn-block btn-outline-dark">Request Advance Payment</a>
            </div>
        </div>
    </div>
</div>