﻿@model PayrollSys.Models.ViewModel.Payslip

@{
    ViewData["Title"] = "Payslip";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<div class="row">
    <div class="col-sm-10"><p>Payslip</p></div>
    <div class="col-sm-1">
        <form asp-action="Pdf">
            @Html.HiddenFor(model => model.ym)
            @Html.HiddenFor(model => model.employee.Id)
            @Html.HiddenFor(model => model.employee.fullName)
            @Html.HiddenFor(model => model.employee.ICNo)
            @Html.HiddenFor(model => model.employee.PhoneNo)
            @Html.HiddenFor(model => model.positions.job)
            @Html.HiddenFor(model => model.emp)
            @Html.HiddenFor(model => model.grossSalary)
            @if (Model.allowance.Count != 0)
            {@for (int i = 0; i < Model.allowance.Count; i++)
            {@Html.HiddenFor(it => Model.allowance[i].criteria)
             @Html.HiddenFor(it => Model.allowance[i].rate)
            }
            }
            @if (Model.bonus.Count != 0)
            {@for (int i = 0; i < Model.bonus.Count; i++)
            {@Html.HiddenFor(it => Model.bonus[i].criteria)
             @Html.HiddenFor(it => Model.bonus[i].rate)
            }
            }
            @if (Model.deduct.Count != 0)
            {@for (int i = 0; i < Model.deduct.Count; i++)
            {@Html.HiddenFor(it => Model.deduct[i].criteria)
             @Html.HiddenFor(it => Model.deduct[i].rate)
            }
            }
            @Html.HiddenFor(model => model.epf)
            @Html.HiddenFor(model => model.socso)
            @Html.HiddenFor(model => model.earning)
            @Html.HiddenFor(model => model.ded)
            @Html.HiddenFor(model => model.netSalary)
            <button type="submit" class="btn " data-toggle="tooltip" title="PDF"><span class="material-icons">print</span></button>
        </form>
    </div>
    
</div>
<br />
<div class="card">
    <div class="card-body">
        <center>
            <h2>V3X Malaysia Sdn Bhd</h2>
            <p>VISION, VIRTUAL AND VISUALIZATION</p>
            <h5>Payslip for the period of @Html.DisplayFor(model => model.ym)</h5>
        </center>
        <div class="row">
            <div class="col-sm-3">Employee Id</div>
            <div class="col-sm-3">: @Html.DisplayFor(model => model.employee.Id)</div>
            <div class="col-sm-3">Name</div>
            <div class="col-sm-3">: @Html.DisplayFor(model => model.employee.fullName)</div>
        </div>
        <div class="row">
            <div class="col-sm-3">IC</div>
            <div class="col-sm-3">: @Html.DisplayFor(model => model.employee.ICNo)</div>
            <div class="col-sm-3">Contact Number</div>
            <div class="col-sm-3">: @Html.DisplayFor(model => model.employee.PhoneNo)</div>
        </div>
        <div class="row">
            <div class="col-sm-3">Position</div>
            <div class="col-sm-3">: @Html.DisplayFor(model => model.positions.job)</div>
            <div class="col-sm-3">Email</div>
            <div class="col-sm-3">: @Html.DisplayFor(model => model.emp)</div>
        </div>

        <br />

        <div class="row">

            <div class="col-sm-6 border">
                <table>
                    <tr>
                        <th class="col-sm-8">Earnings</th>
                        <th class="col-sm-4">Amount</th>
                    </tr>

                </table>
            </div>
            <div class="col-sm-6 border">
                <table>
                    <tr>
                        <th class="col-sm-8">Deductions</th>
                        <th class="col-sm-4">Amount</th>
                    </tr>

                </table>
            </div>

        </div>

        <div class="row">
            <div class="col-sm-6 border">
                <table>
                    <tr>
                        <td class="col-sm-8">Basic Salary</td>
                        <td class="col-sm-4">@Html.DisplayFor(model => model.grossSalary)</td>
                    </tr>
                    @if (Model.allowance.Count != 0)
                    {
                        <tr>
                            <th class="col-sm-12">Allowance</th>
                        </tr>
                        @for (int i = 0; i < Model.allowance.Count; i++)
                        {
                            <tr>
                                <td class="col-sm-8">@Html.DisplayFor(it => Model.allowance[i].criteria)</td>
                                <td class="col-sm-4">@Html.DisplayFor(it => Model.allowance[i].rate)</td>
                            </tr>

                        }
                    }
                    @if (Model.bonus.Count != 0)
                    {
                        <tr>
                            <th class="col-sm-12">Bonus</th>
                        </tr>
                        @for (int i = 0; i < Model.bonus.Count; i++)
                        {
                            <tr>
                                <td class="col-sm-8">@Html.DisplayFor(it => Model.bonus[i].criteria)</td>
                                <td class="col-sm-4">@Html.DisplayFor(it => Model.bonus[i].rate)</td>
                            </tr>

                        }
                    }
                </table>
            </div>
            <div class="col-sm-6 border">
                <table>
                    @if (Model.deduct.Count != 0)
                    {
                        @for (int i = 0; i < Model.deduct.Count; i++)
                        {
                            <tr>
                                <td class="col-sm-8">@Html.DisplayFor(it => Model.deduct[i].criteria)</td>
                                <td class="col-sm-4">@Html.DisplayFor(it => Model.deduct[i].rate)</td>
                            </tr>

                        }
                    }
                    <tr>
                        <th class="col-sm-12">Government Payment</th>
                    </tr>
                    <tr>
                        <td class="col-sm-8">EPF</td>
                        <td class="col-sm-4">@Html.DisplayFor(model => model.epf)</td>
                    </tr>
                    <tr>
                        <td class="col-sm-8">Socso</td>
                        <td class="col-sm-4">@Html.DisplayFor(model => model.socso)</td>
                    </tr>


                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 border">
                <table>
                    <tr>
                        <td class="col-sm-8">Total Earnings</td>
                        <td class="col-sm-4">@Html.DisplayFor(model => model.earning)</td>
                    </tr>
                </table>
            </div>
            <div class="col-sm-6 border">
                <table>
                    <tr>
                        <td class="col-sm-8">Total Deductions</td>
                        <td class="col-sm-4">@Html.DisplayFor(model => model.ded)</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="row border bg-light">
            <div class="col-sm-6 "></div>
            <div class="col-sm-6 ">
                <table>
                    <tr>
                        <td class="col-sm-8">Net Pay</td>
                        <td class="col-sm-4">@Html.DisplayFor(model => model.netSalary)</td>
                    </tr>
                </table>
            </div>
        </div>
        <br />
        <br />
        <div class="row">
            <div class="col-lg-3">_____________________________</div>
            <div class="col-lg-6"></div>
            <div class="col-lg-3">_____________________________</div>
        </div>
        <div class="row">
            <div class="col-lg-3">Employer's Signature</div>
            <div class="col-lg-6"></div>
            <div class="col-lg-3">Employee's Signature</div>
        </div>

    </div>
</div>
<br />
<div>
    <a asp-action="PersonalPayslip" class="btn btn-primary">
        <svg class="bi bi-arrow-left-circle" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
            <path fill-rule="evenodd" d="M8.354 11.354a.5.5 0 0 0 0-.708L5.707 8l2.647-2.646a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708 0z" />
            <path fill-rule="evenodd" d="M11.5 8a.5.5 0 0 0-.5-.5H6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 .5-.5z" />
        </svg>
        Back
    </a>
</div>

