﻿@model List<Advance>
@{
    ViewData["Title"] = "PersonalAdvance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="display-5">Personal Advance Payment Requests</h3>
<hr />

<a asp-action="RequestAdvance" asp-controller="Employee" class="btn btn-primary">
    <svg class="bi bi-plus-circle" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z" />
        <path fill-rule="evenodd" d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z" />
        <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
    </svg>
    Request Advance Payment
</a>
<br />
<br />
<table class="table table-sm table-bordered">
    <tr>
        <th>No</th>
        <th>Month</th>
        <th>Status</th>
    </tr>
    @{int counter = 1; }
    @foreach (var req in Model)
    {
<tr>
    <td>@counter</td>
    <td>@req.ym</td>
    @if (req.status == "Requested")
    {
        <td><b class="text-dark">@req.status</b></td>
    }
    else if(req.status == "Approved")
    {
        <td><b class="text-info">@req.status</b></td>
    }
    else
    {
        <td><b class="text-danger">@req.status</b></td>
    }
</tr>
        counter = counter + 1;
    }
</table>

<a asp-action="Index" class="btn btn-primary">
    <svg class="bi bi-arrow-left-circle" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
        <path fill-rule="evenodd" d="M8.354 11.354a.5.5 0 0 0 0-.708L5.707 8l2.647-2.646a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708 0z" />
        <path fill-rule="evenodd" d="M11.5 8a.5.5 0 0 0-.5-.5H6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 .5-.5z" />
    </svg>
    Back
</a>
