﻿@model IEnumerable<PayrollSys.Models.Salary>

@{
    ViewData["Title"] = "PersonalPayslip";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center>
    <h1>Payslip</h1>
    <hr />
    @using (Html.BeginForm("PersonalPayslip", "Employee", FormMethod.Post))
    {
        <span>Month :</span>
        <input type="month" name="month" />
        <input type="submit" value="Search" />
    }
</center>
<br />

<table class="table table-sm table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ym)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.grossSalary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.netSalary)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ym)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.grossSalary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.netSalary)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.SalaryId">Payslip</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Index" class="btn btn-primary">
    <svg class="bi bi-arrow-left-circle" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
        <path fill-rule="evenodd" d="M8.354 11.354a.5.5 0 0 0 0-.708L5.707 8l2.647-2.646a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708 0z" />
        <path fill-rule="evenodd" d="M11.5 8a.5.5 0 0 0-.5-.5H6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 .5-.5z" />
    </svg>
    Back
</a>
