﻿@model List<Attendance>
    @{
    ViewData["Title"] = "PersonalAttendance";
    Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h4>Personal Attendance for @Model[0].emp</h4>

    <table class="table table-sm table-bordered">
        <tr>
            <th>No</th>
            <th>Date</th>
            <th>Remark</th>
        </tr>
        @{int counter = 1; }
        @foreach (var att in Model)
    {
        <tr>
            <td>@counter</td>
            <td>@att.Date</td>
            @if(att.Status == "Absent")
            {
            <td><b class="text-danger">@att.Status</b></td>
            }
            else
            {
            <td><b class="text-info">@att.Status</b></td>
            }

        </tr>
        counter = counter + 1;
    }
    </table>

    <a asp-action="Index">Back</a>
