﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Report</h1>
<center>
    <h1>Monthly Report</h1>
    <br />
    @using (Html.BeginForm("Report", "Employee", FormMethod.Post))
    {
        <span>Month :</span>
        <input type="month" name="month" required />
        <input type="submit" value="Search" />
    }
</center>
<br />

<html>
<head>
    <script>
    window.onload = function () {

	var piechart = new CanvasJS.Chart("pie", {
	theme: "light2",
	exportEnabled: true,
	animationEnabled: true,
	title: {
		text: "Pie Chart for Government Tax On @Html.Raw(ViewBag.Month)",
		fontSize: 21
	},
	data: [{
		type: "pie",
		startAngle: 160,
		toolTipContent: "<b>{label}</b>: RM{y}",
		indexLabel: "{label} - RM{y}",
		dataPoints: @Html.Raw(ViewBag.TaxReports)
	    }]
    });
        piechart.render();

    var barchart = new CanvasJS.Chart("bar", {
	    animationEnabled: true,
	    theme: "light1",
	    exportEnabled: true,
	    title: {
            text: "Net Salary by Month in @Html.Raw(ViewBag.Year) ",
            fontSize: 21
	    },
	    data: [{
            type: "line",
		    dataPoints:  @Html.Raw(ViewBag.SlyReports)
	    }]
    });
    barchart.render();

    }
    </script>


</head>
<body>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
    <div class="row">
        <div id="pie" style="height: 370px; width: 100%;" class="col-6"></div>
        <div id="bar" style="height: 370px; width: 100%;" class="col-6"></div>
    </div>


    <br />
    <center>
        <div class="row">
            <div class="col-sm-6 ">
                <table class="table-bordered">
                    <tr>
                        <td class="col-sm-6">Government Payment</td>
                        <td class="col-sm-6">Amount (RM)</td>
                    </tr>
                    <tr>
                        <td class="col-sm-6">EPF</td>
                        <td class="col-sm-6">@Html.Raw(ViewBag.Epf)</td>
                    </tr>
                    <tr>
                        <td class="col-sm-6">Socso</td>
                        <td class="col-sm-6">@Html.Raw(ViewBag.Socso)</td>
                    </tr>

                </table>
            </div>
            <div class="col-sm-6 ">
                <table>
                    <tr>
                        <td class="col-sm-5">Annual Earn:</td>
                        <td class="col-sm-7">RM @Html.Raw(ViewBag.Tnet)</td>
                    </tr>
                </table>
            </div>
        </div>
    </center>
    <br />
    <a asp-action="Index" class="btn btn-primary">
        <svg class="bi bi-arrow-left-circle" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
            <path fill-rule="evenodd" d="M8.354 11.354a.5.5 0 0 0 0-.708L5.707 8l2.647-2.646a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708 0z" />
            <path fill-rule="evenodd" d="M11.5 8a.5.5 0 0 0-.5-.5H6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 .5-.5z" />
        </svg>
        Back
    </a>
</body>
</html>
