﻿@model Advance
@{
    ViewData["Title"] = "RequestAdvance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>RequestAdvance</h1>
<form method="post" asp-action="RequestAdvance" asp-controller="Employee">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <input type="hidden" asp-for="employeeID" class="form-control" value="0" />
    </div>
    <div class="form-group">
        <input type="hidden" asp-for="status" class="form-control" value="Requested" />
    </div>
    <div class="form-group">
        <input type="hidden" asp-for="employeeName" class="form-control" value="" />
    </div>
    <div class="form-group">
        <label asp-for="ym" class="control-label"></label>
        <input asp-for="ym" type="month"  required />
        <span asp-validation-for="ym" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Request" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="PersonalAdvance" asp-controller="Employee">Back</a>
</div>