﻿
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="text-center">
        <h2><b class="text-info">SUPERADMIN DASHBOARD</b></h2>
        <hr />
    </div>
<a asp-action="Listout" class="btn btn-block btn-outline-dark">Admins</a>

