﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PayrollSys</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/simple-sidebar.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

</head>
<body>
  
    <div class="d-flex" id="wrapper">

        <!-- Sidebar -->
        <div class="bg-light border-right" id="sidebar-wrapper">
            <div class="sidebar-heading"><span class="material-icons" style="font-size: 15px;">build</span> &nbsp;Setting </div>
            <div class="list-group list-group-flush">
                <a class="list-group-item list-group-item-action bg-light" asp-controller="Basicsalary" asp-action="Index" data-toggle="tooltip" title="Basic salary for each position"><span class="material-icons" style="font-size: 22px;vertical-align:text-top;">attach_money</span>&nbsp;Set Basic Salary</a>
                <a class="list-group-item list-group-item-action bg-light" asp-controller="Bonus" asp-action="Index" data-toggle="tooltip" title="Set bonus"><span class="material-icons" style="font-size: 22px;vertical-align:text-top;">plus_one</span>&nbsp;Bonus</a>
                <a class="list-group-item list-group-item-action bg-light" asp-controller="Deduct" asp-action="Index" data-toggle="tooltip" title="Set deduction"><span class="material-icons" style="font-size: 22px;vertical-align:text-top;">exposure_neg_1</span>&nbsp;Deduct</a>
                <a class="list-group-item list-group-item-action bg-light" asp-controller="Allowance" asp-action="Index" data-toggle="tooltip" title="Set allowance"><span class="material-icons" style="font-size: 22px;vertical-align:text-top;">thumb_up_alt</span>&nbsp;Allowance</a>
                <a class="list-group-item list-group-item-action bg-light" asp-controller="EPF" asp-action="Index" data-toggle="tooltip" title="EPF rate"><span class="material-icons" style="font-size: 22px;vertical-align:text-top;">directions_walk</span>&nbsp;EPF</a>
                <a class="list-group-item list-group-item-action bg-light" asp-controller="Socso" asp-action="Index" data-toggle="tooltip" title="Socso rate table"><span class="material-icons" style="font-size: 22px;vertical-align:text-top;">admin_panel_settings</span>&nbsp;Socso</a>
            </div>
        </div>
        <div id="page-content-wrapper">
            <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item active">
                            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">PayrollSys</a>
                        </li>

                    </ul>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <partial name="_LoginPartial" />
                    </div>
                </div>
   
            </nav>
            <div class="container">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </div>
       
    </div>
        <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - PayrollSys
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
