﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>to the Home Page of PayrollSys</p>
</div>
<hr />
<br />
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <div class="text-center">
                    <h3 class="card-title">Employee</h3>
                </div>
                <a asp-action="Index" asp-controller="Employee" class="btn btn-block btn-outline-dark">Enter</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <div class="text-center">
                    <h3 class="card-title">Admin</h3>
                </div>
                <a asp-action="Index" asp-controller="Admin" class="btn btn-block btn-outline-dark">Enter</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <div class="text-center">
                    <h3 class="card-title">SuperAdmin</h3>
                </div>
                <a asp-action="Index" asp-controller="SuperAdmin" class="btn btn-block btn-outline-dark">Enter</a>
            </div>
        </div>
    </div>
</div>
