﻿
@{
    ViewData["Title"] = "ManageSalary";
    Layout = "~/Views/Shared/_Layoutmanagesalary.cshtml";
}

    <div class="text-center" style="padding: 230px">
        <h1 class="display-4" >Manage Salary</h1>
        <p>Choose the operation to continue at the setting sidebar</p>
    </div>

    <a asp-action="Index" asp-controller="Admin" class="btn btn-primary">
        <svg class="bi bi-arrow-left-circle" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
            <path fill-rule="evenodd" d="M8.354 11.354a.5.5 0 0 0 0-.708L5.707 8l2.647-2.646a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708 0z" />
            <path fill-rule="evenodd" d="M11.5 8a.5.5 0 0 0-.5-.5H6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 .5-.5z" />
        </svg>
        Back
    </a>