﻿@model PayrollSys.Models.Employee
@{
    ViewData["Title"] = "CreateEmployee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create Employee</h1>
<hr />
    <form method="post">
        <div class="row">
            <div class="col-md-6">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="fullName" class="control-label"></label>
                    <input asp-for="fullName" class="form-control" />
                    <span asp-validation-for="fullName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PhoneNo" class="control-label"></label>
                    <input asp-for="PhoneNo" class="form-control" />
                    <span asp-validation-for="PhoneNo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="address" class="control-label"></label>
                    <input asp-for="address" class="form-control" />
                    <span asp-validation-for="address" class="text-danger"></span>
                </div>
                


            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="ICNo" class="control-label"></label>
                    <input asp-for="ICNo" class="form-control" />
                    <span asp-validation-for="ICNo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Gender" class="control-label"></label><br />
                    <input type="radio" asp-for="Gender" value="Male" /> Male
                    <input type="radio" asp-for="Gender" value="Female" /> Female
                    <span asp-validation-for="Gender" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="religion" class="control-label"></label><br />
                    <input type="radio" asp-for="religion" value="Islam" /> Islam <br />
                    <input type="radio" asp-for="religion" value="Buddha" /> Buddha <br />
                    <input type="radio" asp-for="religion" value="Hindu" /> Hindu <br />
                    <input type="radio" asp-for="religion" value="Christian" /> Christian <br />
                    <input type="radio" asp-for="religion" value="Others" /> Others
                    <span asp-validation-for="religion" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PositionID" class="control-label"></label><br />
                    <select asp-for="PositionID" asp-items="@Model.PositionsOptions"></select>
                    <span asp-validation-for="PositionID" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="RoleName" class="form-control" type="hidden" value="Employee" />
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <input type="submit" value="Create" class="btn btn-primary btn-block" />
        </div> 
    </form>
<br />
<div>
    <a asp-action="Listout">Back to List</a>
</div>

