﻿@model List<Attendance>
@{
    ViewData["Title"] = "EmployeeAttendance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.Count == 0)
{
    <h2 class="text-center">No Attendance Record has been found for this employee!</h2>
}
else
{
<h1>Attendance List for @Model[0].emp</h1>

<table class="table table-sm table-bordered">
    <tr>
        <th>No</th>
        <th>Date</th>
        <th>Remark</th>
    </tr>
    @{int counter = 1; }
    @foreach (var att in Model)
    {
        <tr>
            <td>@counter</td>
            <td>@att.Date</td>
            @if (att.Status == "Absent")
            {
                <td><b class="text-danger">@att.Status</b></td>
            }
            else
            {
                <td><b class="text-info">@att.Status</b></td>
            }

        </tr>
        counter = counter + 1;
    }
</table>
        }

<a asp-action="Listout">Back</a>