﻿
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="text-center">
        <h2><b class="text-info">ADMIN DASHBOARD</b></h2>
        <hr />
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div class="text-center"><h4 class="card-title">Manage Employees</h4></div>
                    <a asp-action="Listout" class="btn btn-block btn-outline-dark">Employees</a>
                    <a asp-action="Attendance" class="btn btn-block btn-outline-dark">Attendance</a>
                </div>
            </div>
            <br />
            <div class="card">
                <div class="card-body">
                    <div class="text-center"><h4 class="card-title">Report</h4></div>
                    <a asp-action="Report" class="btn btn-block btn-outline-dark">Monthly Report</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div class="text-center"><h4 class="card-title">Manage Salary</h4></div>
                    <a asp-action="managesalary" class="btn btn-block btn-outline-dark">Manage Salary</a>
                    <a asp-action="ManageAdvance" class="btn btn-block btn-outline-dark">Approve Advance Payment</a>
                    <a asp-controller="Salary" asp-action="Index" class="btn btn-block btn-outline-dark">Calculate Salary</a>
                    <a asp-controller="Payslip" asp-action="Index" class="btn btn-block btn-outline-dark">Payslips</a>
                </div>
            </div>
        </div>
        
    </div>
