﻿@model IEnumerable<Advance>
@{
    ViewData["Title"] = "ManageAdvance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="display-5">ManageAdvance</h3>
<hr />
<center>
    <br />
    @using (Html.BeginForm("ManageAdvance", "Admin", FormMethod.Post))
    {
        <span>Month :</span>
        <input type="month" name="month" />
        <input type="submit" value="Search" />
    }
</center>

    <br />
    <table class="table table-sm table-bordered">
        <thead>
            <tr>
                <th>No</th>
                <th>Employee</th>
                <th>Month</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @{int counter = 1;}
            @foreach (var req in Model)
            {
                <tr>
                    <td>@counter</td>
                    <td>@req.employeeName</td>
                    <td>@req.ym</td>
                    <td>@req.status</td>
                    <td>
                        <a asp-action="ApproveRequest" asp-controller="Admin" asp-route-id="@req.id" class="btn btn-sm btn-primary ">
                            <svg class="bi bi-check2-circle" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M15.354 2.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L8 9.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
                                <path fill-rule="evenodd" d="M8 2.5A5.5 5.5 0 1 0 13.5 8a.5.5 0 0 1 1 0 6.5 6.5 0 1 1-3.25-5.63.5.5 0 1 1-.5.865A5.472 5.472 0 0 0 8 2.5z" />
                            </svg>
                            Approve
                        </a>
                        <a asp-action="RejectRequest" asp-controller="Admin" asp-route-id="@req.id" class="btn btn-sm btn-danger ">
                            <svg class="bi bi-x" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z" />
                                <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z" />
                            </svg>
                            Reject
                        </a>
                    </td>

                </tr>
                counter = counter + 1;
            }
        </tbody>
        

    </table>

    <a asp-action="Index" class="btn btn-primary">
        <svg class="bi bi-arrow-left-circle" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
            <path fill-rule="evenodd" d="M8.354 11.354a.5.5 0 0 0 0-.708L5.707 8l2.647-2.646a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708 0z" />
            <path fill-rule="evenodd" d="M11.5 8a.5.5 0 0 0-.5-.5H6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 .5-.5z" />
        </svg>
        Back
    </a>



