﻿@model List<Attendance>
@{
    ViewData["Title"] = "ViewAttendance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Model.Count == 0)
{
    <h2 class="text-center">No Attendance Record has been found!</h2>
}
else
{
    <h3 class="display-5">Attendance for @Model[0].Date</h3>

<table class="table table-sm table-bordered">
    <tr>
        <th>No</th>
        <th>Employee</th>
        <th>Status</th>
        <th>Action</th>
    </tr>
    @{int counter = 1; }
    @foreach (var attd in Model)
    {
        <tr>
            <td>@counter</td>
            <td>@attd.emp</td>
            <td>@attd.Status</td>
            <td>
                <form method="post" asp-action="ChangeToPresent" asp-controller="Admin" asp-route-id="@attd.ID">
                    <button type="submit" class="btn btn-sm btn-primary " value="Submit">
                        <svg class="bi bi-check2-square" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M15.354 2.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L8 9.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
                            <path fill-rule="evenodd" d="M1.5 13A1.5 1.5 0 0 0 3 14.5h10a1.5 1.5 0 0 0 1.5-1.5V8a.5.5 0 0 0-1 0v5a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V3a.5.5 0 0 1 .5-.5h8a.5.5 0 0 0 0-1H3A1.5 1.5 0 0 0 1.5 3v10z" />
                        </svg>
                        Present
                    </button>
                </form>
                <form method="post" asp-action="ChangeToLate" asp-controller="Admin" asp-route-id="@attd.ID">
                    <button type="submit" class="btn btn-sm btn-secondary " value="Submit">
                        <svg class="bi bi-clock" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm8-7A8 8 0 1 1 0 8a8 8 0 0 1 16 0z" />
                            <path fill-rule="evenodd" d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z" />
                        </svg>
                        Late
                    </button>
                </form>
            </td>
        </tr>
        counter = counter + 1;
    }
</table>
}

<a asp-action="Attendance" class="btn btn-primary">
    <svg class="bi bi-arrow-left-circle" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
        <path fill-rule="evenodd" d="M8.354 11.354a.5.5 0 0 0 0-.708L5.707 8l2.647-2.646a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708 0z" />
        <path fill-rule="evenodd" d="M11.5 8a.5.5 0 0 0-.5-.5H6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 .5-.5z" />
    </svg>
    Back
</a>
